{{- $sshKeyItem := bitwarden "item" "ssh-github" -}}
{{- with $sshKeyItem.sshKey.publicKey -}}
{{- . -}}
{{- else -}}
{{- $sshKeyFields := bitwardenFields "item" "ssh-github" -}}
{{- with index $sshKeyFields "公開鍵" -}}
{{- .value -}}
{{- else -}}
{{- with index $sshKeyFields "Public Key" -}}
{{- .value -}}
{{- end -}}
{{- end -}}
{{- end -}}
