{{- $sshKeyItem := bitwarden "item" "ssh-github" -}}
{{- with index $sshKeyItem "sshKey" -}}
{{- with index . "publicKey" -}}
{{- . -}}
{{- else -}}
{{- $sshKeyFields := bitwardenFields "item" "ssh-github" -}}
{{- with index $sshKeyFields "公開鍵" -}}
{{- .value -}}
{{- else -}}
{{- with index $sshKeyFields "Public Key" -}}
{{- .value -}}
{{- else -}}
{{- bitwardenAttachmentByRef "id_rsa.pub" "item" "ssh-github" -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- else -}}
{{- $sshKeyFields := bitwardenFields "item" "ssh-github" -}}
{{- with index $sshKeyFields "公開鍵" -}}
{{- .value -}}
{{- else -}}
{{- with index $sshKeyFields "Public Key" -}}
{{- .value -}}
{{- else -}}
{{- bitwardenAttachmentByRef "id_rsa.pub" "item" "ssh-github" -}}
{{- end -}}
{{- end -}}
{{- end -}}
