{{- $sshKeyFields := bitwardenFields "item" "ssh-github" -}}
{{- with index $sshKeyFields "秘密鍵" -}}
{{- .value -}}
{{- else -}}
{{- with index $sshKeyFields "Private Key" -}}
{{- .value -}}
{{- else -}}
{{- bitwardenAttachmentByRef "id_rsa" "item" "ssh-github" -}}
{{- end -}}
{{- end -}}
