{{- $sshKeyItem := bitwarden "item" "ssh-github" -}}
{{- with $sshKeyItem.sshKey.privateKey -}}
{{- . -}}
{{- else -}}
{{- $sshKeyFields := bitwardenFields "item" "ssh-github" -}}
{{- with index $sshKeyFields "秘密鍵" -}}
{{- .value -}}
{{- else -}}
{{- with index $sshKeyFields "Private Key" -}}
{{- .value -}}
{{- end -}}
{{- end -}}
{{- end -}}
